* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 1000px;
    margin: 0 auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px;
    margin-bottom: 30px;
  }

  .logo-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .logo-links ul {
    display: flex;
    gap: 15px;
    list-style: none;
  }

  .logo-links a {
    text-decoration: none;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
  }

  .hero-main-text {
    margin-bottom: 10px;
  }

  .text {
    max-width: 300px;
    margin-bottom: 10px;
  }

  .img-placeholder {
    background-color: blueviolet;
    padding: 10px;
  }

  .information {
    margin-bottom: 30px;
  }

  .info-header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .info {
    border: 2px red solid;
    width: 200px;
    height: 200px;
  }

  .info-text {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .author {
    display: flex;
    justify-content: flex-end;
  }

  .action-time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .action-button {
    flex: 1;
    max-width: 300px;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  