* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #1F2937;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    padding: 15px;

}

.logo-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.header a {
    color: rgb(177, 164, 164);
    text-decoration: none;
    
}

.header ul {
    list-style: none;
    display: flex;
    gap: 15px;
    
}

.header-bottom {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.hero-main-text {
    font-size: 28px;
    margin-bottom: 5px;
}

.img-placeholder {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.text-button {
    width: 300px;
}

.header-signup {
    padding: 5px 25px;
    margin-top: 5px;
}
